

/*-----------------------------------------------------------------------------*/
/* root 1 */

#Singleplayer_button_r1 {
    -fx-background-color: linear-gradient(to bottom, #3cb371, #2e8b57);
    -fx-text-fill: white;
    -fx-opacity: 0.8;
    -fx-font-family: "Montserrat";
    -fx-font-size: 30px;
    -fx-font-weight: 800;
    -fx-padding: 12px 28px;
    -fx-border-color: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.3, 0, 2);
}
#Singleplayer_button_r1:hover {
    -fx-background-color: linear-gradient(to bottom, #5adfa0, #43b97a);
    -fx-opacity: 0.7;
}

#Multiplayer_button_r1 {
    -fx-background-color: linear-gradient(to bottom, #c0392b, #992d22);
    -fx-text-fill: white;
    -fx-opacity: 0.8;
    -fx-font-family: "Montserrat";
    -fx-font-size: 30px;
    -fx-font-weight: 800;
    -fx-padding: 12px 28px;
    -fx-border-color: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.3, 0, 2);
}
#Multiplayer_button_r1:hover {
    -fx-background-color: linear-gradient(to bottom, #d64535, #a93226);
    -fx-opacity: 0.7;
}


#label_battleship_lobby_r1 {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-alignment: center;
}

#stack_pane_root1 {
    -fx-background-image: url("../images/lobby_screen.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

/*-----------------------------------------------------------------------------*/
/* root 2 */

#start_game_button_r2 {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #a9d0ff);
    -fx-text-fill: black;
    -fx-opacity: 0.95;
    -fx-font-family: "Montserrat";
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.3, 0, 2);
}
#start_game_button_r2:hover {
    -fx-opacity: 0.6;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

#load_game_button_r2 {
    -fx-background-color: linear-gradient(to bottom, #c0392b, #992d22);
    -fx-text-fill: white;
    -fx-opacity: 0.95;
    -fx-font-family: "Montserrat";
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.3, 0, 2);
}
#load_game_button_r2:hover {
    -fx-opacity: 0.8;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

#label_settings_r2 {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-family: "Montserrat";
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

}

#stack_pane_root2 {
    -fx-background-color: #EEE9E9;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
/*----------------------------------------------------------------------------*/
/* root 3 */

#start_new_game_button_r3 {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #a9d0ff);
    -fx-text-fill: black;
    -fx-opacity: 0.95;
    -fx-font-family: "Montserrat";
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.3, 0, 2);
}
#start_new_game_button_r3:hover {
    -fx-opacity: 0.6;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

#label_available_servers_r3 {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-family: "Montserrat";
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}


/*----------------------------------------------------------------------------*/
#back_button {
    -fx-background-image: url(../images/go_back.png);
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}
#back_button:hover {
    -fx-opacity: 0.6;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#end_game_button {
    -fx-background-image: url(../images/end_game.png);
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}