<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger: %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.matti" level="INFO"/>
        <Root level="WARN">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
