#pane1 {
    -fx-background-image: url("picture1.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

#button1 {
    -fx-background-color: white;      /* Hintergrundfarbe */
    -fx-text-fill: black;           /* Textfarbe */
    /*-fx-font-size: 30px; */           /* Schriftgröße */
    -fx-padding: 10px 20px;         /* Innenabstand */
    -fx-background-radius: 8px;     /* abgerundete Ecken */
}

#button2 {
    -fx-background-color: white;      /* Hintergrundfarbe */
    -fx-text-fill: black;           /* Textfarbe */
    -fx-font-size: 30px;            /* Schriftgröße */
    -fx-padding: 10px 20px;         /* Innenabstand */
    -fx-background-radius: 8px;     /* abgerundete Ecken */
}

#label1 {
    -fx-background-color: #3498db;   /* Hintergrundfarbe */
    -fx-text-fill: white;
    /* Schriftfarbe */
    -fx-padding: 10px 20px;               /* Innenabstand */
    -fx-border-radius: 5px;          /* Ecken abrunden */
    -fx-background-radius: 5px;      /* Ecken abrunden */
}

#pane2 {
    -fx-background-color: #ffff00;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#button3 {
    -fx-background-image: url(go_back.png);   /* abgerundete Ecken */
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}

#button5 {
    -fx-background-color: white;      /* Hintergrundfarbe */
    -fx-text-fill: black;           /* Textfarbe */
    /*-fx-font-size: 30px; */           /* Schriftgröße */
    -fx-padding: 10px 20px;         /* Innenabstand */
    -fx-background-radius: 8px;     /* abgerundete Ecken */
}

#label2 {
    -fx-background-color: #3498db;   /* Hintergrundfarbe */
    -fx-text-fill: white;
    /* Schriftfarbe */
    -fx-padding: 10px 20px;               /* Innenabstand */
    -fx-border-radius: 5px;          /* Ecken abrunden */
    -fx-background-radius: 5px;      /* Ecken abrunden */

}


#pane3 {
    -fx-background-color: #0000ff;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#button4 {
    -fx-background-image: url(go_back.png);   /* abgerundete Ecken */
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}

#pane4 {
    -fx-background-color: #008000;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
