/*-------------pane 1-------------------------------------------------------------- pane 1  */
#pane1 {
    -fx-background-image: url("picture1.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

#button1 {
    -fx-background-color: white;
    -fx-text-fill: black;
    /*-fx-font-size: 30px; */
    -fx-padding: 10px 20px;         /* Innenabstand */
    -fx-background-radius: 8px;     /* abgerundete Ecken */
}

#button2 {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 30px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
}

#label1 {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/*-------------pane 2-------------------------------------------------------------- pane 2  */

#pane2 {
    -fx-background-color: #EEE9E9;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#button3 {
    -fx-background-image: url(go_back.png);
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}

#button5 {
    -fx-background-color: white;
    -fx-text-fill: black;
    /*-fx-font-size: 30px; */
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
}

#label2 {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    /* Schriftfarbe */
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

}

/*-------------pane 3-------------------------------------------------------------- pane 3  */

#pane3 {
    -fx-background-color: #0000ff;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#button4 {
    -fx-background-image: url(go_back.png);
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}

/*-------------pane 4-------------------------------------------------------------- pane 4  */

#pane4 {
    -fx-background-color: #3498db;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#button6 {
    -fx-background-color: white;
    -fx-text-fill: black;
    /*-fx-font-size: 30px; */
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
}


/*-------------pane 5-------------------------------------------------------------- pane 5  */

#pane5 {
    -fx-background-color: #3498db;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#button7 {
    -fx-background-image: url(go_back.png);
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}

#label6 {
    -fx-background-color: #EEE9E9;
    -fx-text-fill: black;
    /* Schriftfarbe */
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

}

#button8 {
    -fx-background-color: white;
    -fx-text-fill: black;
    /*-fx-font-size: 30px; */
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
}

